body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.banner {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    padding: 250px 1000px;
    padding-right: 50px;
    text-align: right;
}

.banner-title {
    font-size: 55px;
    margin: 0;
    padding-right: 100px;
    color: #FFF;
}

.banner-discription {
    color: #FFF;
    padding-right: 100px;
}

.btn-primary {
    background-color: #FFF;
    padding: 20px 30px;
    font-weight: bold;
    color: #005FAC;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 100px;
    margin-top: 20px;
}

.failure-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;

}

.failure-container {
    padding-left: 200px;
}

.failure {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failuer-discription {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}


.plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 80px;
}

.plan-img {
    text-align: center;
}

.plan-details {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.plan-des {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.watch {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin: 100px 200px;
    border-radius: 5px;
}

.watch-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 80px;
    margin: 0;
}

.btn-call {
    background-color: #FFF;
    padding: 20px 30px;
    font-weight: bold;
    color: #005FAC;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 80px;
}

.footer {
    background: #151414;
    display: flex;
    height: 600px;
    margin-top: 200px;
}

.footer-container{
    margin: 120px 200px;
}

.future-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.future-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}


.social a{
    margin-right: 20px; 
}

.Subscribe {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.email{
    padding: 20px;
    padding-right: 100px;
    text-align: left;
    background: #151414;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.btn-subs{
    background-color: #005FAC;
    padding: 20px 30px;
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}